
<style>
    #f{
      display: flex;
      flex-direction: row;
      align-items: center;
      background: transparent;
      padding: 5vh;
      padding-top: 0;
    }
    
    .name{
        font-size: 14px;
        color: black;
        font-weight: 500;
    }
    
    .links{
        margin-left: 4vw;
    }

    .links a{
        text-decoration: none;
        font-size: 14px;
        color: rgb(56, 57, 58);
        margin-right: 0.5vw;
    }

    .social{
        margin-left: 27vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .globe a{
        text-decoration: none;
        color: rgb(33, 31, 31);
    }

    .social i{
        font-size: 21px;
        margin-left: 2vw;
        border-radius: none;
    }
    
    #r{
        margin-right: 0.5vw;
        font-size: 16px;
    }

    .globe i{
        font-size: 15px;
        margin-right: .7vw;   
    }

</style>


<footer>
    <div id="f" class="foot">
        <div class="name">&copy; 2024 GharSafar,Inc.
        </div>
       
        <div class="links">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Sitemap</a>
            <a href="#">Company details</a>
        </div> 
        <div class="social">
            <div class="globe">
                <i class="fa-solid fa-globe"></i>
                <a href="#">English (IN)</a> 
            </div>
            <i id="r" class="fa-solid fa-indian-rupee-sign"></i>
            <a>INR</a>
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>
        </div>
    </div>
</footer>